<h3>You can either choose Blue <strike>pill</strike> button or Red button to trigger an event.</h3>

<%= link_to 'Event A', events_path({ event_type: 'EventA'}), data: { turbo_method: :post }, class: 'btn btn-primary', id: 'event_a' %>

<%= link_to 'Event B', events_path({ event_type: 'EventB'}), data: { turbo_method: :post }, class: 'btn btn-danger', id: 'event_b' %>
