<h3>You can either choose Blue button or Red 💊 button to trigger an event.</h3>

<h6>Event B also sends email notification.</h6>
<hr>

<%= link_to 'Event A', events_path({ event_type: 'EventA'}), data: { turbo_method: :post }, class: 'btn btn-primary', id: 'event_a' %>

<%= link_to 'Event B', events_path({ event_type: 'EventB'}), data: { turbo_method: :post }, class: 'btn btn-danger', id: 'event_b' %>
